html a {
color: #6875F5;
}

html a:hover {
color: #4338CA;
}

.azure {
color: azure
}

.azure:hover {
color: #e8eaf6
}

kbd {
background-color: #CDDBFE;
border-radius: 3px;
border: 1px solid #42389D;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
color: #362F78;
display: inline-block;
font-size: 0.9em;
/* font-weight: 600; */
line-height: 1;
padding: 6px;
margin: 4px;
/* letter-spacing: 2px; */
}

kbd:hover {
background-color: #42389D;
/* Darken the background */
color: #CDDBFE;
/* Lighten the text */
border-color: #2e276b;
/* Darker border */
cursor: pointer;
/* Change cursor to indicate it's interactive */
}